
<br>
<br>
<h1>Listing Blog Posts</h1>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <%= link_to blog_post do %>
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= blog_post.title %>
            </h3>
          </div>
        <% end %>
        <div class="panel-body">
          <p>by: <%= blog_post.user.email %></p>
          <p><%= blog_post.blog_entry[0..250] %>...
             <%= link_to "[more]", blog_post %>
          </p>

        </div>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_blog_post_path(blog_post), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>




<br>

<%= link_to 'New Blog post', new_blog_post_path, class: 'btn btn-primary btn-lg' %>
