<!DOCTYPE html>
<html>
<head>
  <title>TechTalentBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice != nil %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert != nil %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="container">
  <div>
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger pull-right" %>
    <% end %>
  <%= yield %>
</div>

</body>
</html>
